@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-w-notebook {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(240, 22, 15);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    background: #111;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 18, 12);
    border-radius: 20px;
  }
}
